build
.yarnclean
jscraper-ui/node_modules
jscraper-ui/web/public
.DS_Store
*.class
.idea
.env
.gradle
docker/*
!docker/.gitkeep
V*__Data.sql
static
yarn-error.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
